<% if user_signed_in? %>
<h2> You're Logged In! </h2>
<% else %>

<div class="hero-unit">

	<h1>Welcome to Scott's First Rails Project!</h1>
	<p>
		You found the home page for 
		<%= link_to "Scott Schnaars", "http://scottschnaars.com" %>
		first application!
	</p>
	<p>
		<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-large btn-danger"%>
	</p>

</div>
<% end %>
